#container{
	background-color: #f0f0f0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
	top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  overflow: auto;

	  text-align: center;
	 
}
ul {
    text-align: center;
    list-style-position: inside;

} 
li{
	margin: 5px 0;
}
#contents{
	margin: 10% 10%;
}

#name{
	color: #505050;

	font-family: 'Montserrat', sans-serif;
	font-size: 50px;

	
  	letter-spacing: .15em; 
  	margin: 20px;
  	
    
	
}

#intro{
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#current{
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

}


#logo{
	height: 60px;
	width: 60px;
	
}

.link{
	text-decoration: none;
}
.orglink{
	text-decoration: none;
	color: #00C5CD;
}



.fa {
    padding: 20px;
    font-size: 35px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid #00C5CD;
    background-color: grey;
    color: white;
    margin-right: 7px;
    margin-left: 7px;
}
#socialmedia{
	margin: 30px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


