#container{
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
	top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  overflow: auto;

	  text-align: center;
	 
}

#name{
	color: #D3D3D3;

	font-family: 'Montserrat', sans-serif;
	font-size: 70px;

	overflow: hidden; 
  	white-space: nowrap; 
  	margin: 10% auto; 
  	letter-spacing: .15em; 
  	animation: typing 4s steps(50);
    
	
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#logo{
	height: 60px;
	width: 60px;
	
}

.link{
	text-decoration: none;
}

.menuitem{
	color: white;
	border: solid transparent;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 20px;
	padding: 10px;
	
	

}

.fa {
    padding: 20px;
    font-size: 35px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid #00bfff;
    background-color: grey;
    color: white;
    margin-right: 7px;
    margin-left: 7px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


.menuitem:hover{
	border-color: white;
}

#header{
	width: 100%;
	border: 2px white;
	display: flex;
  	
  
  	justify-content: flex-end;
	
	flex-direction: row;
	
	align-items: center;
}