#container{
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
	top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  overflow: auto;

	  text-align: center;
	 
}




#logo{
	height: 30px;
	width: 30px;
	padding: none;
	
}

.link{
	text-decoration: none;
}

.menuitem{
	color: white;
	border: solid transparent;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 20px;
	padding: 10px;
	
	

}

.menuitem:hover{
	border-color: white;
}

#header{
	width: 100%;
	border: 2px white;
	display: flex;
  	
  
  	justify-content: flex-end;
	
	flex-direction: row;
	
	align-items: center;
}

.projimg{
	width: 230px;
	height: 230px;
	z-index: -1;
  	position: relative;
}



#contentcontainer{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	

	
}

.img-title {
	opacity: 0;
	z-index: 1;
	font-family: 'Montserrat', sans-serif;
	
	margin-top: -230px;
	text-align: center;
	height: 200px;
	margin-right: 10px;
	margin-left: 10px;
	

}

.title{
	font-size: 16px;
	color: #00bfff
}
.description{
	font-size: 13px;
	color: white;
}


.item:hover .img-title {
    opacity: 1;
}
.item:hover .projimg {
    opacity: .2;
}

.item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 230px;
	margin: 10px;
	justify-self: center;

}

#content{
	width: 50%;
	height: 60%;

	
  	display: grid;
  	grid-template-columns: 33.33333% 33.3333% 33.3333%;
  	grid-template-rows: 50% 50%; 

  	grid-column-gap: 80px;
  	grid-row-gap: 90px;
  	justify-content: center;
  	align-items: center;
}